.containerSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 40px 0px 20px 0;
  position: relative;
}

.containerSidebar::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 0;
  height: calc(100% - 60px);
  width: 1px;
  background-color: #353c4c;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 170px;
  border: 6px solid #353c4c;
  border-radius: 100%;
}

.photo h1 {
  margin-top: 14px;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
}

.menuHome {
  cursor: pointer;
  width: 100%;
}

.btnMenu {
  display: flex;
  justify-content: center;
  margin: 6px 0px;
  padding: 4px 0px;
  font-size: 1.2rem;
  transition: 0.3s ease-in;
}

.btnMenu:hover {
  color: #1e90ff;
}

.socialMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.svgSidebar {
  fill: ghostwhite;
  transition: 0.3s ease-in;
}

.svgSidebar:hover {
  fill: #1e90ff;
}