.containerSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 40px 0px 20px 0;
  position: relative;
}

.containerSidebar::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 0;
  height: calc(100% - 60px);
  width: 1px;
  background-color: #353c4c;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 170px;
  border: 6px solid #353c4c;
  border-radius: 100%;
}

.photo h1 {
  margin-top: 14px;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.photo h1:hover {
  color: #1e90ff;
}

.menuHome {
  cursor: pointer;
  width: 100%;
}

.btnMenu {
  display: flex;
  justify-content: center;
  margin: 6px 0px;
  padding: 4px 0px;
  font-size: 1.2rem;
  transition: 0.2s ease-in;
}

.socialMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.svgLinkedin, .svgGit, .svgInsta {
  width: 2rem;
  height: 2rem;
  margin-right: 8px;
  fill: ghostwhite;
  transition: 0.2s ease-in;
}

.svgLinkedin:hover {
  fill: #0e76a8;
}

.svgGit:hover {
  fill: #5f5f5f;
}

.svgInsta:hover {
  fill: #E1306C;
}

.active {
  color: #1e90ff;
}