.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.infoFirstHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.infoFirstHome h2 {
  font-weight: bolder;
  font-size: 2rem;
  padding: 10px;
}

.infoFirstHome h1 {
  font-weight: bolder;
  font-size: 3rem;
}

.infoFirstHome h4 {
  font-size: 1.2rem;
  padding: 10px;
}

.contactCV {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
}

.contactCV button {
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 2px solid #1e90ff;
  border-radius: 100px 100px 100px 100px;
  color: #1e90ff;
  transition: 0.4s ease-in-out;
}

.contactCV button:hover {
  background-color: #1e90ff;
  color: ghostwhite;
}

.iconHome {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  cursor: pointer;
  animation: arrowBounce 1.5s infinite;
}

@keyframes arrowBounce {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.blinkingBar {
  display: inline-block;
  width: 0.5rem;
  height: 2.4rem;
  background-color: ghostwhite;
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .imagenProfileResp {
    background-image: url("../../assets/Profile_photo.jpg");
    background-size: contain;
    background-position: center;
    width: 160px;
    height: 160px;
    border: 6px solid #353c4c;
    border-radius: 100%;
  }

  .infoFirstHome h2 {
    font-weight: bolder;
    font-size: 1.6rem;
  }

  .infoFirstHome h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin: 0 2rem;
  }

  .infoFirstHome h4 {
    font-size: 1rem;
  }

  .contactCV button {
    font-size: 1rem;
  }
}
