.main {
  display: flex;
  flex-direction: row;
  min-width: 100vh;
  min-height: 100vh;
  background-color: #0f1624;
}

.mainSidebar {
  width: 20%;
  background: transparent;
  position: fixed;
  height: 100vh;
}

.mainHome {
  width: 100%;
  padding-left: 20%;
  background: transparent;
}
