.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #0f1624;
}

.mainSidebar {
  width: 20%;
  background: transparent;
  position: fixed;
  height: 100%;
}

.mainNavbar {
  display: none;
}

.mainHome {
  width: 100%;
  padding-left: 20%;
  background: transparent;
}

@media (max-width: 1023px) {
  html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

  .mainSidebar {
    display: none;
  }

  .mainNavbar {
    display: inline-block;
  }

  .cursor {
    display: none;
  }

  .mainHome {
    padding-left: 0px;
    margin-top: 60px;
  }
}
