.main {
  display: flex;
  flex-direction: row;
  min-width: 100vh;
  min-height: 100vh;
}

.mainSidebar {
  width: 20%;
  background-color: rgb(26, 26, 65);
  position: fixed;
  height: 100vh;
}

.mainHome {
  width: 100%;
  padding-left: 20%;
  background-color: rgb(90, 29, 29);
}